.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  padding: 10px;
  text-align: center;
  width: 70%;
  font-size: 22px;
}
.ast {
  width: 50%;
  background-color: #444;
  border-radius: 8px;
  padding: 10px;
  margin-right: 20px;
  font-size: 12px;
}
.result {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  width: 70%;
}
